@model MyArt.Model.SaleDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SaleDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SaleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValuedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValuedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VenderCommission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VenderCommission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfTransaction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfTransaction)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
