@model MyArt.Model.ArtDetail

@{
    ViewBag.Title = "Details";
}

<br />
<div class="col-sm-12 visible-md">

<img src="~/Content/asset/Jumbo8.jpg" style="width:1150px; height:120px;" />
</div>
<div class="row">
    <div class="col-sm-4">
        <br />
        <p>
            <a href="@Url.Action( "Index", "Art")" class="btn btn-sm" style=" background-color:crimson !important; color: white !important;">BACK</a>
    </div>
    <div class="col-sm-8">
        <h1 style="color: crimson;
        text-shadow: 2px 2px 2px black;
        font-family: 'Bangers', cursive;
        font-size:60px;
        font-weight:300;">
            ART DETAIL
        </h1>
    </div>
    @*<div>
            <br />
            <p>
                <a href="@Url.Action( "Index", "Art")" class="btn btn-sm" style=" background-color:crimson !important; color: white !important;">BACK</a>

                @if (Model.Sold == false)
                {
                    @Html.ActionLink("SELL", "Create", "Sale", null, new { @class = "btn btn-warning btn-md" })
                    <a href="@Url.Action( "Create", "Sale", new { id = Model.ArtID })" class="btn btn-sm" style=" background-color:crimson !important; color: white !important;">SELL</a>
                }
        </div>*@
</div>



<hr />
<div class="container">

    <br />
    <div class="row">
        <div class="col-md-">   </div>

        <div class="col-md-5">
            <dl class="dl-horizontal">
                <dt>
                    <br />
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd style="color: crimson;
        text-shadow: 1px 1px 1px black;
        font-family: 'Bangers', cursive;
        font-size:30px;
        font-weight:100;">
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateOfCreation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateOfCreation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Style)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Style)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Medium)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Medium)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Surface)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Surface)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Size)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Size)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Location)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location)
                </dd>
            </dl>
            <div class="col-lg-3">   </div>

            @if (Model.Sold == false)
            {

                <a href="@Url.Action( "Create", "Sale",new { id = Model.ArtID })" class="btn btn-sm" style=" background-color:crimson !important; color: white !important;">SELL</a>

            }
            <a href="@Url.Action( "Index", "Art",new { id = Model.ArtID })" class="btn btn-sm" style=" background-color:crimson !important; color: white !important;">ART</a>
            <a href="@Url.Action( "StoryEdit", "Art",new { id = Model.ArtID })" class="btn btn-sm" style=" background-color:crimson !important; color: white !important;">ADD STORY</a>
            <a href="@Url.Action( "Edit", "Art",new { id = Model.ArtID })" class="btn btn-sm" style=" background-color:crimson !important; color: white !important;">EDIT</a>
            <a href="@Url.Action( "Delete", "Art",new { id = Model.ArtID })" class="btn btn-sm" style=" background-color:crimson !important; color: white !important;">DELETE</a>


        </div>
        <style>

            .thumbnail:hover {
               
                position: center;
                top: -25px;
                left: -35px;
                width: 500px;
                height: auto;
                display: block;
                z-index: 999;
            }
            /*.zoom {*/
/*                padding: 50px;*/
/*                background-color: green;*/
                /*transition: transform .2s;*/ /* Animation */
           /*     width: 200px;
                height: 200px;
                margin: 0 auto;*/
            /*}

                .zoom:hover {
                    transform: scale(1.5);*/ /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
                /*}*/
        </style>
        <div>

            @*Change Item to Model.ArtID*@
          @*  <img src="/Art/RetrieveImage/@Model.ArtID" alt="" height=300 width=400 />*@
            <img src="/Art/RetrieveImage/@Model.ArtID" class="thumbnail" height=300 width=400 />

        </div>
    </div>
    <br />
</div>



<div class="col-md-1"></div>
<div class="col-md-9">
    <h2 style="color: crimson;
        text-shadow: 1px 1px 1px black;
        font-family: 'Bangers', cursive;
        font-size:30px;
        font-weight:100;">
        STORY
    </h2>
    @Html.DisplayFor(model => model.Note)
</div>
</div>

