@model IEnumerable<MyArt.Model.ArtListItem>
@{
    ViewBag.Title = "Index";
}

<br />
<div class="jumbotronArt">


    <div class="container text-center">
        <br />
        <br />
        <br />
        <br />
        <div>
            @Html.ActionLink("ADD ART", "Create", "Art", null, new { @class = "btn btn-warning btn-lg btn-huge" })
            @Html.ActionLink("IN STOCK", "ListUnSoldArt", null, new { @class = "btn btn-warning btn-lg btn-huge" })
            @Html.ActionLink("SOLD", "Index", "Sale", null, new { @class = "btn btn-warning btn-lg btn-huge" })
            @Html.ActionLink("SELL", "Create", "Sale", null, new { @class = "btn btn-warning btn-lg btn-huge" })
        </div>
    </div>
</div>





<h2> ART INVENTORY</h2>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sold)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
            <th>
                @Html.DisplayFor(model => item.Sold)
            </th>


            <td>

                @* @Html.ActionLink("Edit", "Edit", new { id = item.ArtID }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.ArtID }) |
                @Html.ActionLink("Story", "NoteDetails", new { id = item.ArtID })
                @*  @Html.ActionLink("Delete", "Delete", new { id = item.ArtID })*@
                @Html.ActionLink($"{item.ArtID}", "Create", "Sale", new { id = item.ArtID }, null)


            </td>
        </tr>
    }

</table>
