@model IEnumerable<MyArt.Model.ArtListItem>

@{
    ViewBag.Title = "Un-Sold Art";
}

<br />
<div class="jumbotronArt">


    <div class="container text-center">
        <br />
        <br />
        <br />
        <br />
        <div>
            @Html.ActionLink("ART", "Index", "Art", null, new { @class = "btn btn-warning btn-lg btn-huge" })
            @Html.ActionLink("SOLD", "Index", "Sale", null, new { @class = "btn btn-warning btn-lg btn-huge" })
            @Html.ActionLink("SELL", "Create", "Sale", null, new { @class = "btn btn-warning btn-lg btn-huge" })
            @Html.ActionLink("ADD ART", "Create", "Art", null, new { @class = "btn btn-warning btn-lg btn-huge" })
        </div>
    </div>
</div>
<h2> AVALIABLE ART</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sold)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sold)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.ArtID }) |
                @Html.ActionLink("Story", "StoryEdit", new { id = item.ArtID })|
                @Html.ActionLink("Edit", "Edit", new { id = item.ArtID }) |

                @if (item.Sold == false)
                {
                    @Html.ActionLink("SELL", "Create", "Sale", null, new { @class = "btn btn-warning btn-sm" })

                }

            </td>
        </tr>
    }

</table>
